---
import Link from '@/components/Link.astro'
import { Separator } from '@/components/ui/separator'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
  entry: CollectionEntry<'projects'>
}

const { entry } = Astro.props

let imageProps = null

if (entry.data.image) {
  imageProps = {
    src: entry.data.image,
    alt: entry.data.name,
  }
} else if (entry.data.links) {
  const githubLink = entry.data.links.find((link) =>
    link.href.includes('github.com'),
  )

  if (githubLink) {
    // Matches: github.com/user/repo
    const match = githubLink.href.match(/github\.com\/([^\/]+)\/([^\/]+)/)
    if (match) {
      imageProps = {
        src: `https://opengraph.githubassets.com/1/${match[1]}/${match[2]}`,
        alt: `${entry.data.name} Image`,
        width: 1200,
        height: 630,
      }
    }
  }
}
---

<div class="rounded-xl border p-4">
  <div class="flex flex-col gap-4 sm:flex-row">
    {
      imageProps && (
        <div class="w-full sm:max-w-3xs sm:shrink-0">
          <Image {...imageProps} class="rounded-xl object-cover" />
        </div>
      )
    }

    <div class="flex grow flex-col gap-y-2">
      <div class="flex grow flex-col gap-y-1">
        <h3 class="text-lg font-medium">
          {entry.data.name}
        </h3>

        <p class="text-muted-foreground text-sm">
          {entry.data.description}
        </p>
      </div>

      {
        entry.data.links && entry.data.links.length > 0 && (
          <div class="flex flex-wrap items-center gap-x-3 text-xs">
            {entry.data.links.map((link, index) => (
              <>
                {index > 0 && (
                  <Separator orientation="vertical" className="h-3!" />
                )}
                <Link
                  href={link.href}
                  class="text-muted-foreground/60 hover:text-muted-foreground flex items-center gap-x-1"
                  external
                >
                  <Icon name={'lucide:external-link'} class="size-3" />

                  <span>{link.label}</span>
                </Link>
              </>
            ))}
          </div>
        )
      }
    </div>
  </div>
</div>
