---
import Link from '@/components/Link.astro'
import { Separator } from '@/components/ui/separator'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { formatYear } from '../lib/utils'

interface Props {
  entry: CollectionEntry<'projects'>
}

const { entry } = Astro.props

let imageProps = null

if (entry.data.image) {
  imageProps = {
    src: entry.data.image,
    alt: entry.data.name,
  }
}
---

<div class="border p-4">
  <div class="flex flex-col gap-4 sm:flex-row">
    {
      imageProps && (
        <div class="w-full sm:max-w-3xs sm:shrink-0">
          <Image {...imageProps} class="object-cover" />
        </div>
      )
    }

    <div class="flex grow flex-col gap-y-2">
      <div class="flex grow flex-col gap-y-1">
        <div class="flex items-start gap-x-1">
          <h3 class="grow text-lg font-medium">
            {entry.data.name}
          </h3>

          {
            entry.data.date && (
              <div class="text-muted-foreground flex shrink-0 items-center gap-x-1 text-xs">
                <Icon name={'lucide:calendar'} class="size-3" />
                <span>{formatYear(entry.data.date)}</span>
              </div>
            )
          }
        </div>

        <p class="text-muted-foreground text-sm">
          {entry.data.description}
        </p>
      </div>

      {
        (entry.data.date || entry.data.links) && (
          <div class="flex flex-wrap items-center gap-x-3 text-xs">
            {entry.data.links?.map((link, index) => (
              <>
                {index > 0 && (
                  <Separator orientation="vertical" className="h-3!" />
                )}
                <Link
                  href={link.href}
                  class="text-muted-foreground/60 hover:text-muted-foreground flex items-center gap-x-1 font-mono font-medium"
                  external
                >
                  <Icon name={'lucide:external-link'} class="size-3" />
                  <span>{link.label}</span>
                </Link>
              </>
            ))}
          </div>
        )
      }
    </div>
  </div>
</div>
